
#root{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}


.card-wrapper{
    margin: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    background-color: beige;
    overflow: hidden;
  
}


.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.active{
    border:2px solid red;
}